<mat-card class="mat-elevation-z8 login-comp">
  <mat-tab-group>
    <mat-tab label="Log In">
      <app-login-panel></app-login-panel>
    </mat-tab>
    <mat-tab label="Sign Up">
      <app-signup-panel></app-signup-panel>
    </mat-tab>
  </mat-tab-group>
  <app-signup-providers></app-signup-providers>
  <div class="logout-button">
    <div *ngIf="user$ | async as user">
      <h3>User From Store</h3>
      <p>{{user.displayName}}</p>
      <p>{{user.email}}</p>
    </div>
  </div>
  <div class="logout-button">
    <div *ngIf="token$ | async as token">
      <h3>User token</h3>
      <!-- If it have claims -->
      <p>{{token.claims.isAdmin}}</p>
      <p>{{token.claims.isEditor}}</p>
    </div>
  </div>
  <div class="logout-button">
    <button mat-raised-button color="primary" (click)="logOut()" [disabled]="!(auth.afAuth.authState | async)">Log
      Out</button>
  </div>
  <div class="logout-button">
    <button mat-raised-button color="primary" (click)="delete()" [disabled]="!(auth.afAuth.authState | async)">Can
      Delete ?</button>
  </div>
</mat-card>