.example-container h2 {
    text-align: center;
}

.example-container * {
    display: block;
}

.example-container button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

button {
    width: 200px;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

button:hover {
    transform: scale(1.1);
}